*{
    margin: 0;
    padding: 0;
}
.slider-box{
    position: relative;
}
body{
    width: 600px;
    margin: 100px auto 0;
}
.slider-nav{
    display: none;
    margin-top: 10px;
}
.slider-nav button{
    width: 50px;
    height: 300px;
    border: none;
    cursor: pointer;
    font-size: 75px;
    opacity: 0.1;
    position: absolute;
    top: 0;
}
.slider-nav button:first-child{
    left: 0;
}
.slider-nav button:first-child:hover{
    opacity: 0.5;
}
.slider-nav button:last-child{
    right: 0;
}
.slider-nav button:last-child:hover{
    opacity: 0.5;
}
.slider {
    width: inherit;
    height: 300px;
    overflow: scroll;
}
.slider ul {
    width: 10000px;
    list-style: none;
}
.slider li {
    float: left;
}